		html * {
			margin: 0;
			padding: 0;
		}
		
		body {
			font: normal normal normal 40px/60px 'HelveticaNeue', Helvetica;
			background: #000; color: #666;
		}
		
		h1 {
			font-size: 120px;
			line-height: 160px;
			letter-spacing: -3px;
			padding: 0 5%;
			color: #333;
		}
		
		h2 {
			padding: 0 5%;
			font-size: 80px;
			line-height: 119px;
			border-bottom: 1px solid #000;
			background: #222;
		}
		
		.animation {
			-webkit-transition-property: all;
			-webkit-transition-duration: 0.5s;
			-webkit-animation-timing-function: linear;
			-webkit-transform: rotateX(180deg);
			-webkit-transform-origin: 0% 50%; /* bottom */
			-webkit-transform-style: preserve-3d;
			-webkit-backface-visibility: hidden;
		}
		
		.up {
			-webkit-transform: rotateX(0deg);
		}
		
		.flip {
			-webkit-transform: rotateX(-180deg);
		}
	
		article {
			width: 45%;
			margin: 20px 2.5%;
			float: left;
			text-shadow: 0 1px 1px #000;
			-webkit-perspective: 400px;
		}
		
		article abbr {
			display: none;
			font-size: 20px; 
			float: right;
			opacity: 0.6;
		}
		
		dl {
			overflow: auto;
		}
		
		dd, dt {
			padding: 0 5%;
			line-height: 58px;
			border-top: 1px solid #333;
			border-bottom: 1px solid #000;
			background: #222;
		}
		
		dt:after {
			content: ':';
		}
		
		dt {
			width: 90%;
		}
		
		dd {
			color: #999;
			float: right;
			width: 45%;
			margin-top: -60px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		
		dd.info {
			font-size: 20px;
			line-height: 29px;
		}
		
		dd.coverage div {
			display: inline;
		}
		
		.sloc {
			float: right;
		}
		
		.sloc:before {
			content: 'SLOC: ';
		}
		
		dd.coverage div.hits, 
		dd.coverage div.misses {
			display: none;
		}
		
		article#api {
			left: 0;
		}
		
		article#client {
			right: 0;
		}
		
		article.FAILURE h2,
		article.FAILURE dd,
		article.FAILURE dt {
			border-top:    1px solid #FC4F58;
			border-bottom: 1px solid #CF000D;
			background: red; color: #fff;
		}
		
		
		
		.low { 			color: #FC5961; }
		.medium { 		color: #FDC360; }
		.sufficient { 	color: #FFFF61; }
		.ok { 			color: #44C63C; }